:root {
    background-color: #1c1c1c;
  }
  
  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 20px;
  }
  
  .authentication ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: inherit;
  }
  
  .authentication ul li {
    text-align: center;
    background-color: #e31c25;
    cursor: pointer;
    width: 225px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 700;
  }
  
  .input {
    width: 300px;
    margin-top: 20px;
  }
  
  .input input {
    width: inherit;
  }
  
  .input label {
    padding-left: 6px;
  }
  
  .active {
    background-color: #bb000e !important;
    transition: background-color 0.3s;
  }
  
  .authentication h1 {
    font-size: large;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  .button {
    display: block;
    margin-top: 30px;
    float: right;
    background-color: #bb000e;
    color: white;
  }

  .login {
    display: flex;
    flex-direction: column;
    float: right;
    background-color: white;
    padding-bottom: 20px;
  }